<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h3>Faça o login para começar a usar o <strong>WEB TUC!</strong></h3>
                    <form method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="email@exemplo.com">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">senha</label>
                            <input type="password" name="key" id="key" class="form-control" placeholder="digite sua senha">
                        </div>
                        <md-button href="/produtos" class="md-accent md-raised">conectar</md-button>
                    </form>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>


